<!-- <pre>{{randPic | json}}</pre> -->
<div id="img-background" style="background-image: url('{{picOfTheHour.link}}')">
	<div id="new" class="text" ng-click="newImage()"><span class="glyphicon glyphicon-random"></span></div>

	<div id="time"><span class="big">{{date | date:"h:mm a"}}</span>
		<span class="small">{{date | date:'fullDate'}}</div>

	<div id="selector" class="text"><span class="glyphicon glyphicon-tag"></span>
		<div id="listHolder">
			<a ng-repeat="category in categories" class="listItem" href="{{category.name}}">{{category.name}}</a>
		</div>
	</div>
	<a href="http://www.reddit.com/{{picOfTheHour.reddit_comments}}">
		<div id="link" class="text">
		 {{picOfTheHour.title.split("[")[0]}} <span class="glyphicon glyphicon-link"></span>
		</div>
	</a>
	<div id="vignette"></div>
</div>

